<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>
    <main>
      <div class="jumbotron">
        <% if (productos.length > 0){%>
        <h3><%= tagline %></h3>
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Precio</th>
              <th scope="col">Foto</th>
            </tr>
          </thead>
          <tbody>
            <% productos.forEach((product) => { %>
            <tr>
              <td><%= product.nombre %></td>
              <td><%= product.precio %></td>
              <td><img src="<%= product.URL %>" alt="Foto" height="30px" /></td>
            </tr>
            <% }) %>
          </tbody>
          
        </table>
        <% } else{ %>
          <h3 class="alert alert-danger">No Hay datos</h3>
          <% } %>
        <a class="btn btn-primary" href="http://localhost:8080" role="button">Ir a Form</a>
      </div>
    </main>
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
